// .header-component .ui.menu {
//   padding: 0 0rem 0 0rem;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
// }
//
// .header-component .ui.menu .menu {
//   display: flex;
//   align-items: center;
//   height: 48px;
// }
//
// .header-component .ui.menu .menu .item {
//   display: flex;
//   align-items: center;
//   height: 100%;
// }

.example {
  font-size: 1em;
}

.ui.menu {
  font-size: 1em;
}

#page-layout {
  height: 100%;
}

#page-layout .page.grid {
  height: 100%;
}

#page-layout .page.grid .main-section {
  height: 100%;
}

.footer {
  font-size: 0.9em;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 0 5px 15px;
  color: gray;
}
